<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="https://ajax.googLeapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div class="container-fluid text-center m-2">
    <form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>

                <div th:if="${message}" class="alert alert-success" style="max-width: 400px; margin: 0 auto;">
                    [[${message}]] Click <a th:href="@{/login}">here</a> to sign in again
                </div>

                <div th:if="${error}" class="alert alert-danger" style="max-width: 400px; margin: 0 auto;">
                    [[${error}]]
                </div>
                <div class="m-2">
                <p>
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus />
                </p>
                <p>
                    <input type="password" class="form-control" placeholder="Confirm your new password"
                           required oninput="checkPasswordMatch(this);" />
                </p>
                <p class="text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </p>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>